.titlebox h1
{
  background:url(%%happyopeningday%%) no-repeat top center;
  height:300px;
  width:300px;
  bottom:0;
  font-size:0;
}

body
{
  background:url(%%brick-bg%%);
  background-position:left top;
  background-repeat:repeat-x;
  background-color:#000;
}

.footer-parent
{
  background-repeat:no-repeat;
  background:url(%%bottom%%) 50% no-repeat;
}

.rank
{
  padding-right:12px!important;
}

#header .tabmenu li a
{
  color:#000;
  background-color:#c2c6c3;
  border-top:#000 1px!important;
  margin-bottom:0!important;
}

#header .tabmenu li.selected a
{
  color:#000;
  background-color:#fff;
  border:#000 2px!important;
  margin-bottom:0!important;
}

.content
{
  margin-top:0;
  margin-left:10px;
  background-color:#fff;
  border:2px solid #000;
  top:-20px!important;
  left:11px!important;
  -webkit-border-bottom-right-radius:0!important;
  -webkit-border-bottom-left-radius:5px!important;
  -webkit-border-top-right-radius:0!important;
  -webkit-border-top-left-radius:5px!important;
  -moz-border-radius-bottomright:0!important;
  -moz-border-radius-bottomleft:5px!important;
  -moz-border-radius-topright:0!important;
  -moz-border-radius-topleft:5px!important;
  border-bottom-right-radius:0!important;
  border-bottom-left-radius:5px!important;
  border-top-right-radius:0!important;
  border-top-left-radius:5px!important;
}

.side .md > ul
{
  margin:0 1em;
}

.side .md ul
{
  width:100%;
  list-style-type:none;
  margin:0 auto;
  padding:0;
}

.side .md ul > li
{
  overflow:hidden;
  margin-bottom:10px;
  padding-top:0!important;
  margin-top:0!important;
}

.side .md ul > li strong a
{
  display:block;
  height:20px;
  background:#EE7600;
  border-radius:3px;
  border:1px solid #333;
  text-align:center;
  line-height:20px;
  color:#000;
  text-decoration:none;
  font-weight:400;
  margin:0 auto;
}

.side .md ul > li:hover ul
{
  max-height:800px;
}

.side .md ul > li ul
{
  max-height:0;
  overflow:hidden;
  padding-left:12px;
  line-height:15px;
  margin-top:0;
  background:#fff;
}

.side .md h3
{
  border:1px solid #CCC;
  float:left;
  cursor:pointer;
  font-size:12px;
  margin:0;
  padding:5px 6px;
}

.side .md h3:hover
{
  background:#EEE;
}

.side .md table
{
  display:none;
  width:100%;
  z-index:2;
  border:1px solid #000!important;
  border-top:none;
  border-spacing:0;
  font-size:10px!important;
  color:#000!important;
  margin:0 0 2em;
  padding:0;
}

.side .md tr
{
  background:#fff;
  border-collapse:collapse!important;
  margin:0!important;
  padding:4px 7px!important;
}

.side .md td
{
  border-collapse:collapse!important;
  margin:0!important;
  padding:4px 7px!important;
}

.side .md tr:nth-child(even)
{
  background:#CCC!important;
}

.side .md tr:nth-child(odd)
{
  background:#FFF!important;
}

.side .md h2
{
  border:1px solid #000;
  float:left;
  cursor:pointer;
  font-size:12px;
  margin:0;
  padding:5px 6px;
}

form.toggle.flairtoggle:before
{
  font-weight:700;
  color:#000;
  content:"Flair Up Here! (Just click the 'edit' link!) ";
}

form.toggle.flairtoggle
{
  background:#FFF!important;
  margin-left:0!important;
  padding-left:25px!important;
  padding-right:25px!important;
  padding-bottom:4px!important;
}

.titlebox .tagline
{
  background:#FFF!important;
  margin-left:0!important;
  padding-left:25px!important;
  padding-bottom:4px!important;
  top:-5px!important;
}

.subButtons
{
  padding-left:20px!important;
}

.sidecontentbox .content
{
  -webkit-border-bottom-right-radius:0!important;
  -webkit-border-bottom-left-radius:0!important;
  -webkit-border-top-right-radius:0!important;
  -webkit-border-top-left-radius:0!important;
  -moz-border-radius-bottomright:0!important;
  -moz-border-radius-bottomleft:0!important;
  -moz-border-radius-topright:0!important;
  -moz-border-radius-topleft:0!important;
  border-bottom-right-radius:0!important;
  border-bottom-left-radius:0!important;
  border-top-right-radius:0!important;
  border-top-left-radius:0!important;
  margin:23px 23px 0 0 !important;
}

a[href$="http://broadcasters"]
{
  background-color:transparent;
  background-image:url(%%broadcasters%%);
  background-repeat:no-repeat;
  content:"";
  display:inline-block;
  width:283px;
  height:132px;
}

a[href$="http://rules"]
{
  background-color:transparent;
  background-image:url(%%rules-of-sub5%%);
  background-repeat:no-repeat;
  display:inline-block;
  width:285px;
  height:20px;
}

.side
{
  border:2px solid #000;
  top:-4px!important;
  left:-42px!important;
  background-color:#c2c6c3;
  -webkit-border-bottom-right-radius:5px!important;
  -webkit-border-bottom-left-radius:0!important;
  -webkit-border-top-right-radius:5px!important;
  -webkit-border-top-left-radius:0!important;
  -moz-border-radius-bottomright:5px!important;
  -moz-border-radius-bottomleft:0!important;
  -moz-border-radius-topright:5px!important;
  -moz-border-radius-topleft:0!important;
  border-bottom-right-radius:5px!important;
  border-bottom-left-radius:0!important;
  border-top-right-radius:5px!important;
  border-top-left-radius:0!important;
}

.titlebox form
{
  padding-left:0!important;
  border:0!important;
}

.side form
{
  padding-left:0!important;
}

.titlebox .md
{
  padding-left:7px!important;
  padding-right:7px!important;
}

.titlebox span.number:after
{
  content:" devoted Giants fans";
}

.users-online.fuzzed span.number:before
{
  content:"(";
}

.users-online.fuzzed span.number:after
{
  content:" fans currently online)";
}

a .login-required
{
  height:10px!important;
}

.morelink
{
  font-size:12px;
  width:299px;
  height:18px;
  padding-bottom:3px!important;
  background:#e45a00;
  border:1px solid orange;
  border-radius:3px;
  margin-bottom:-2px;
  top:2px!important;
  z-index:99;
  vertical-align:text-top!important;
  position:relative!important;
  border-color:#000;
}

.sidebox.submit.submit-text .morelink:hover
{
  background:#e45a00!important;
  display:none;
  clear:none;
  border-color:#d19fe2;
}

.sidebox.submit-text
{
  display:none;
  clear:none;
}

.sidebox.submit-link .morelink::before
{
  display:block;
  clear:none;
  content:"Submit a Link";
  font-size:95%;
}

.sidebox.submit-text .morelink::before
{
  display:block;
  clear:none;
  content:"Submit a Text Post";
  font-size:90%;
  padding-left:2px;
}

.sidebox.submit .morelink a
{
  position:absolute;
  top:0;
  font-size:0;
  text-align:right;
  color:#56a6f7;
}

.sidebox.submit.submit-link
{
  width:150px;
}

.sidebox.submit.submit-text
{
  margin-top:-42px;
  margin-left:153px;
}

.res-nightmode .sidebox.submit.submit-text
{
  background:none!important;
  margin-top:-45px;
  margin-left:153px;
}

.res-nightmode .sidebox
{
  padding-left:0!important;
  border:2px solid #151515!important;
  height:0;
}

.res-nightmode .morelink
{
  height:29px!important;
  background:#273f57!important;
}

.res-nightmode .morelink:hover
{
  background:#9edbf8!important;
  border-color:#9edbf8!important;
}

#text-desc.infobar:after
{
  content:" " url(%%submit-text%%) "  ";
  color:green!important;
  font-size:110%;
}

#search input[type=text]
{
  font-size:12px;
  color:#f0f0f0;
  background-color:#000;
  border:1px solid orange;
  border-radius:3px;
  margin-bottom:-2px;
  margin-left:-1px;
  z-index:99;
  vertical-align:middle!important;
  width:296px;
  height:18px;
  padding-bottom:3px!important;
  border-color:#BABABA;
}

#searchexpando
{
  width:280px;
  height:55px;
  top:170px;
  margin-left:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:4px;
  background-color:#F7F7F7!important;
  border:1px solid #BABABA;
  font-size:12px;
  z-index:999;
  position:absolute;
}

#moresearchinfo
{
  background-color:#F7F7F7!important;
  margin-left:-9px;
  margin-right:-9px;
  z-index:2147483648!important;
  border:1px solid #BABABA!important;
  padding:13px;
}

element.style
{
  z-index:2147483645!important;
}

#previoussearch #search input[type=text]
{
  position:relative;
  top:0;
  margin-left:0;
  background-color:#f0f0f0;
}

#header
{
  background:transparent;
  background-image:url(%%header5%%);
  background-repeat:no-repeat;
  border:none;
  height:150px;
  z-index:0!important;
  top:0;
  left:0;
}

#header-bottom-left .tabmenu
{
  position:absolute;
  bottom:-128px;
  left:245px;
}

#header .tabmenu .res-nightmode
{
  background:transparent;
  height:25px;
  top:115px!important;
  margin-top:0!important;
  z-index:500;
  padding-left:5px!important;
  padding-right:5px!important;
  position:absolute;
}

.hover.pagename.redditname
{
  margin-bottom:10px;
  font-size:17px!important;
  line-height:24px!important;
  margin-left:20px;
}

#header-bottom-left
{
  font-size:larger;
  position:absolute;
  background:transparent!important;
  height:0!important;
}

#header.bottom.left .res.nightmode
{
  font-size:larger;
  position:absolute;
  top:85px!important;
  height:0!important;
  background:transparent!important;
}

.side .md h6
{
  position:absolute;
  top:90px;
  left:270px;
  background-color:#ff9b18;
  border:1px solid #051F4C!important;
  box-shadow:3px 3px 3px #920007;
  font-family:verdana, sans-serif;
  font-size:13px;
  font-weight:700;
  color:#fafafa;
  text-align:center;
  -webkit-border-bottom-right-radius:5px!important;
  -webkit-border-bottom-left-radius:5px!important;
  -webkit-border-top-right-radius:0!important;
  -webkit-border-top-left-radius:0!important;
  -moz-border-radius-bottomright:5px!important;
  -moz-border-radius-bottomleft:5px!important;
  -moz-border-radius-topright:0!important;
  -moz-border-radius-topleft:0!important;
  border-bottom-right-radius:5px!important;
  border-bottom-left-radius:5px!important;
  border-top-right-radius:0!important;
  border-top-left-radius:0!important;
  margin:13px 13px 13px 10px;
  padding:6px 5px 5px;
}

.linkinfo
{
  background-color:#fff;
  border:1px solid #bababa;
  border-radius:0!important;
  background:transparent!important;
}

.linkinfo .score .word
{
  font-size:8pt;
  display:inline;
}

.linkinfo .score
{
  font-size:9px;
}

.thing .title
{
  color:#250517!important;
}

.thing .title.loggedin
{
  color:#2B1B17!important;
}

.thing .title.loggedin.click:visited
{
  color:#c2c6c3!important;
}

.link.last-clicked
{
  border:0 dashed gray;
}

.comment .down:hover:before
{
  position:absolute;
  content:url(%%downvote-warning%%);
  margin-left:20px;
  margin-bottom:25px;
  background-color:#FFF;
}

.arrow
{
  height:14px;
  width:15px;
}

.arrow.downmod
{
  background-image:url(%%black-arrow%%);
  background-position:0 0;
}

.thumbnail.self
{
  height:50px;
  width:70px;
  background:url(%%self-post%%);
}

.thumbnail.default
{
  height:50px;
  width:70px;
  background:url(%%missing-image%%);
}

.link .score.dislikes
{
  color:#000;
}

.roundfield,.content.submit .roundfield.info-notice
{
  border:none;
}

form
{
  border:0!important;
}

.RESDialogSmall
{
  z-index:9999;
}

.content h1
{
  padding-bottom:10px!important;
  padding-left:20px!important;
}

.md table
{
  margin-top:7px!important;
  margin-bottom:10px;
  margin-right:25px;
  width:92%;
  background-color:#FFF;
}

.md tr:nth-of-type(odd)
{
  background:#f7f6f6;
  color:#363636;
}

.md tr:nth-of-type(even)
{
  background:#fff;
  color:#363636;
}

.side table
{
  margin-top:0!important;
}

.side th
{
  background-color:#EE7600;
  color:#000;
  font-weight:700;
  text-align:center;
  padding:.2em!important;
}

.md table th
{
  background-color:#EE7600;
  color:#000;
  font-weight:700;
  text-align:center;
  padding:.5em;
}

.side .md table th:nth-of-type(1)
{
  text-align:left;
}

.side .md table:first-of-type tr:hover
{
  background:transparent!important;
}

.md table td
{
  vertical-align:middle;
  font-size:.9em;
  color:#000;
  text-align:center;
  padding:2px 0;
}

.md table a
{
  font-weight:700;
  color:#222;
}

.side .md table td:nth-of-type(1)
{
  background:transparent!important;
  text-align:left;
}

.md table a:hover
{
  color:#0f326a;
}

div.side div.spacer div.titlebox div.usertext-body div.md h4
{
  font-size:9px;
  margin-top:-9px;
  margin-left:35%;
  margin-right:30%;
  color:#ccc;
}

table,th,td
{
  border:1px #000!important;
}

.md th .md td
{
  border:1px solid #787878!important;
}

a[href*="featured_blog"].title:link
{
  color:olive!important;
  font-style:italic;
}

a[href*="featured_blog"].thumbnail.self
{
  background:url(%%blog%%) no-repeat 0 0;
  height:70px;
}

a[href*="sftix"].title:link
{
  color:#789!important;
  font-style:italic;
}

a[href*="sftix"].title:before
{
  content:url(%%ticket%%);
  position:relative;
  top:3px;
}

a[href*="daily_discussion"].title:link
{
  color:#8B0000!important;
  font-style:italic;
}

a[href*="/daily_discussion"].thumbnail.self
{
  background:url(%%general-discussion%%) no-repeat 0 0;
}

a[href="/ARI"]:before,.flair-ari
{
  background-position:0 -21px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/ATL"]:before,.flair-atl
{
  background-position:0 -42px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/BAL"]:before,.flair-bal
{
  background-position:0 -609px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/BOS"]:before,.flair-bos
{
  background-position:0 -63px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CHI"]:before,.flair-cubs
{
  background-position:0 -84px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CIN"]:before,.flair-reds
{
  background-position:0 -105px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CLE"]:before,.flair-cle
{
  background-position:0 -126px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/COL"]:before,.flair-col
{
  background-position:0 -147px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CHW"]:before,.flair-chw
{
  background-position:0 -168px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/DET"]:before,.flair-det
{
  background-position:0 -189px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/FLA"]:before,.flair-fla
{
  background-position:0 -210px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/HOU"]:before,.flair-hou
{
  background-position:0 -231px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/KCR"]:before,.flair-kcr
{
  background-position:0 -252px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/LAA"]:before,.flair-laa
{
  background-position:0 0!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/LAD"]:before,.flair-lad
{
  background-position:0 -273px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MIL"]:before,.flair-mil
{
  background-position:0 -294px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MIN"]:before,.flair-min
{
  background-position:0 -315px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/NYM"]:before,.flair-nym
{
  background-position:0 -336px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/NYY"]:before,.flair-nyy
{
  background-position:0 -357px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/OAK"]:before,.flair-oak
{
  background-position:0 -378px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/PHI"]:before,.flair-phi
{
  background-position:0 -399px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/PIT"]:before,.flair-pit
{
  background-position:0 -420px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SDP"]:before,.flair-sdp
{
  background-position:0 -441px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SEA"]:before,.flair-sea
{
  background-position:0 -462px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SFG"]:before,.flair-sfg
{
  background-position:0 -483px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/STL"]:before,.flair-stl
{
  background-position:0 -504px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TBR"]:before,.flair-tbr
{
  background-position:0 -525px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TEX"]:before,.flair-tex
{
  background-position:0 -546px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TOR"]:before,.flair-tor
{
  background-position:0 -567px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/WAS"]:before,.flair-was
{
  background-position:0 -588px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/LAS"]:before,.flair-las
{
  background-position:0 -630px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MIL1"]:before,.flair-mil-1
{
  background-position:0 -651px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TOR1"]:before,.flair-tor-1
{
  background-position:0 -672px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/BAL1"]:before,.flair-bal-1
{
  background-position:0 -693px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/ATL1"]:before,.flair-atl-1
{
  background-position:0 -714px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MIN1"]:before,.flair-min-1
{
  background-position:0 -735px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SWB"]:before,.flair-swb
{
  background-position:0 -756px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/WAS1"]:before,.flair-was-1
{
  background-position:0 -777px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/ATL2"]:before,.flair-atl-2
{
  background-position:0 -798px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/PHI1"]:before,.flair-phi-1
{
  background-position:0 -819px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SFG1"]:before,.flair-sfg-1
{
  background-position:0 -840px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MON"]:before,.flair-mon
{
  background-position:0 -861px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SDP1"]:before,.flair-sdp-1
{
  background-position:0 -903px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SDP2"]:before,.flair-sdp-2
{
  background-position:0 -882px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/HOU1"]:before,.flair-hou-1
{
  background-position:0 -924px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SEA1"]:before,.flair-sea-1
{
  background-position:0 -945px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/OAK1"]:before,.flair-oak-1
{
  background-position:0 -966px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TEX1"]:before,.flair-tex-1
{
  background-position:0 -987px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/NYY1"]:before,.flair-nyy-1
{
  background-position:0 -1008px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/HAN"]:before,.flair-han
{
  background-position:0 -1029px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/ARI1"]:before,.flair-ari-1
{
  background-position:0 -1050px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/BOS1"]:before,.flair-bos-1
{
  background-position:0 -1071px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/DUR"]:before,.flair-dur
{
  background-position:0 -1092px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/LAA1"]:before,.flair-laa-1
{
  background-position:0 -1113px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TBR1"]:before,.flair-tbr-1
{
  background-position:0 -1134px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/NYM1"]:before,.flair-nym-1
{
  background-position:0 -1155px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/LID"]:before,.flair-lid
{
  background-position:0 -1176px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/BAL2"]:before,.flair-bal-2
{
  background-position:0 -1197px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/SDP3"]:before,.flair-sdp-3
{
  background-position:0 -1218px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/MIA"]:before,.flair-mia
{
  background-position:0 -1239px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CLE1"]:before,.flair-cle-1
{
  background-position:0 -1260px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/CHI1"]:before,.flair-chi-1
{
  background-position:0 -1281px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

a[href="/TOR2"]:before,.flair-tor-2
{
  background-position:0 -1302px!important;
  background:none;
  border:0;
  border-radius:0;
  width:20px;
  height:20px;
  background-image:url(%%team-flags%%);
  vertical-align:middle;
  text-indent:-9999px;
  padding:0;
}

.link.odd,.link.even
{
  border-top:#f0f0f0 1px solid;
  margin:0 15px!important;
  padding:12px 0!important;
}

.side .md ul > li strong a:hover,.side .md h2:nth-of-type(1)
{
  background:#AAA;
}

.side .md h3:hover ~ table:nth-of-type(1),
.side .md h2:hover ~ table:nth-of-type(1),
.titlebox span.word,
.users-online::before,
.users-online.fuzzed span.word,
.morelink .nub,
.sidebox.create,
.sidebox.submit.disabled,
.shortlink
{
  display:none;
}

.side .md h3:nth-of-type(1):hover ~ table:nth-of-type(1),
.side .md h3:nth-of-type(2):hover ~ table:nth-of-type(2),
.side .md h3:nth-of-type(3):hover ~ table:nth-of-type(3),
.side .md h3 ~ table:nth-of-type(1),
.side .md h2 ~ table:nth-of-type(1)
{
  display:block;
}

.side .md h3+hr,.side .md h2+hr
{
  clear:both;
  border:0;
  margin:0;
  padding:0;
}

.side .md table thead,.side .md h2:nth-of-type(1):hover,
.side .md h2:nth-of-type(2):hover,
.side .md h2:nth-of-type(3):hover
{
  background:#EE7600;
}

.side .md h2:nth-of-type(1):hover ~ table:nth-of-type(1),
.side .md h2:nth-of-type(2):hover ~ table:nth-of-type(2),
.side .md h2:nth-of-type(3):hover ~ table:nth-of-type(3)
{
  display:block;
  background:#fff;
  margin:0;
  padding:0;
}

.side .md table .res-nightmode,
a[href$="/spoiler"]:hover,
.res-nightmode a[href$="/spoiler"]:hover
{
  color:#000!important;
}

.subscribers,
.users-online
{
  padding-left:25px!important;
}

.side .spacer,
.side .spacer .res-nightmode
{
  margin-top:0!important;
  margin-bottom:0!important;
}

.sidebox.submit-text .res-nightmode,
.sidebox.submit.submit-text.res-nightmode
{
  width:0;
}

#header-bottom-right .res-navtop,
#header-bottom-right
{
  position:absolute!important;
  right:0;
  opacity:0.9!important;
  height:11px!important;
  line-height:12px;
  border:none;
  top:22px!important;
  padding:4px;
}

.linkinfo .score .number,
.linkinfo .date
{
  font-size:8pt;
}

.thing .title:visited,
.thing .title.loggedin:visited
{
  color:#878a88!important;
}

.thing .title.click,
.thing .title.loggedin.click
{
  color:#E56717!important;
}

a[href$="/spoiler"],
.res-nightmode a[href$="/spoiler"]
{
  background:#f93!important;
  color:#f93!important;
}

a[href*="featured_blog"].title:visited,
a[href*="gameday_"].title:visited,
a[href*="game day"].title:visited,
a[href*="sftix"].title:visited,
a[href*="daily_discussion"].title:visited
{
  font-style:italic;
}

a[href*="gameday_"].title:link,
a[href*="game day"].title:link
{
  color:green!important;
  font-style:italic;
}

a[href*="/gameday"].thumbnail.self,
a[href*="game_day"].thumbnail.self
{
  background:url(%%bball-diamond%%) no-repeat 0 0;
}

.flair-2nums,.flair-1num
{
  color:#3B240B;
  font-family:"Arial Black", Gadget, sans-serif;
  font-size:10px;
  font-weight:700;
  text-indent:2px;
  border-color:#DF7401;
  border-width:1px;
}
